body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
}

#mainContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"],
input[type="number"],
button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#loginForm, #signUpForm, #homePage {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#signUpForm {
    display: none;
}
